{
  "plugins": [
    "lodash",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "uglify": true
      },
      "loose": true,
      "modules": false
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ]
    }
  }
}
