{
  "env": {
    "jest": true
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "root": true,
  "extends": "airbnb-base",
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "backtick"],
    "array-bracket-spacing": ["error", "always"],
    "sort-import": "off"
  }
}
